.submit-container {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

button.btn {
    border-radius: 10px;
    background-color: #8C330E;
    border: none;
    box-shadow: 1px -14px 50px 0 rgba(1, 35, 38, 0.2);
    transition: all .3s;
    padding: 10px 50px;
}

button:hover {
    transform: scale(1.1);
}