@import '../../App.scss';

footer {
    align-items: center;
    background-color: $dark;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 95px;

    .contact-container{
        display: block;
        position: relative;
        width: 100%;

        .contact {
            align-items: center;
            background-color: $oranje;
            border-radius: 10px;
            box-shadow: 1px -14px 50px 0 rgba(1, 35, 38, 0.2);
            
            display: flex;
            justify-content: space-between;
            left: 0;
            margin: 0 auto;
            padding: 20px 35px;
            position: absolute;
            right: 0;
            text-align: center;
            top: -35px;
            width: 90%;

            h4 {
                color: $white;
            }

            button {
                border-radius: 10px;
                background-color: #8C330E;
                border: none;
                box-shadow: 1px -14px 50px 0 rgba(1, 35, 38, 0.2);
                transition: all .3s;
                padding: 10px 50px;
            }

            button:hover {
                transform: scale(1.1);
            }
        }
    }

    ul {
        display: flex;
        padding-left: 0;
        padding-top: 50px;

        li {
            padding: 0;
            padding: 0 35px;
            list-style-type: none;
            font-size: 30px;

            a {
                color: white;
                transition: all .1s;
                
            }

            a:hover {
                color: $green;
            }

        }
    }

    .made-by {
        align-items: center;
        display: flex;
        font-weight: 100;
        justify-content: center;
        margin-top: 15px;

        .fa-react {
            color: #61dafb;
            font-size: 25px;
            margin: 0 15px;
            -webkit-animation:spin 5s linear infinite;
            -moz-animation:spin 5s linear infinite;
            animation:spin 5s linear infinite;
        }
    }
    
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }