/* Color Theme Swatches in Hex */
$ligt-red: #D92949;
$red: #A62E4E;
$light-blue: #57F2E3;
$blue: #07598C;
$dark: #012326;

/* Color Theme Swatches in RGBA */
/* $example-1-1-rgba: rgba(217,41,73, 1);
$example-1-2-rgba: rgba(166,46,78, 1);
$example-1-3-rgba: rgba(7,89,140, 1);
$example-1-4-rgba: rgba(1,35,38, 1);
$example-1-5-rgba: rgba(87,242,227, 1);
 */
